@charset "UTF-8";
/* CSS Document */

body{
	background:#3F334D;
	margin:0;
	opacity:0;
	animation: fadeIn ease-in-out 2s 500ms forwards;
}

@keyframes fadeIn{
	0% {opacity:0;}
	100% {opacity:1;}
}

.logo{
	width:100vw;
	height:100vh;
	display: flex;
	position:relative;
	justify-content: center;
	align-items: center;
}

.wrapper{
	width:100vw;
	height:100vh;
	position: absolute;
	display:flex;
	justify-content: center;
	align-items: center;
}

.circle{
	display:flex;
	align-items: center;
	justify-content: center;
	background: #BDEDE0;
	width:181px;
	height:181px;
	border-radius:50%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20pt;
	color:#26547C;
	border: 15px solid #B6B8D6;
	z-index:2;
	opacity: 50%;
	mix-blend-mode: color-dodge;
	transition: 700ms ease-in-out;
	animation: growShrink ease-in-out 3s 3s;
}

@keyframes growShrink{
	25%{transform:scale(1.1);
	mix-blend-mode: normal;
	opacity:100%;}
	75%{transform:scale(1.1);
	mix-blend-mode: normal;
	opacity:100%;}
}

.circle:hover{
	transform:scale(1.1);
	mix-blend-mode: normal;
	opacity:100%;
}

.cutout{
	width:200px;
	height:200px;
	background:#3F334D;
	position:absolute;
	border-radius:50%;
	margin-left:-90px;
	margin-top:-10px;
	
}

.container{
	position:absolute;
	height:230px;
	display:flex;
	margin-left: 20px;
}

.triangle{
	position:absolute;
	width:0px;
	height:0px;
	border-bottom: 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid #B6B8D6;
}

p{
	opacity:0;
	transition:700ms;
	animation: rotateText ease-in-out 3s 3s;
}

@keyframes rotateText{
	25%{opacity:1; transform:rotate(-5deg)}
	75%{opacity:1; transform:rotate(-5deg)}
}

.circle:hover p{
	opacity:1;
	transform:rotate(-5deg)
}
